.title{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px;
    font-size: 90px;
    font-family: ramai;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 90px;
    padding: 100px;
    max-width: 1300px;
    margin: auto;
    background-image: url('../img/galax.jpg');
}

.galeritem{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.galeritem img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeritem:hover img{
    transform: scale(1.1);
    box-shadow: o 8px 15px rgba(0, 0, 0, 0.3);
}